.content { 
  
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto;
}

.HeadingClass{
  font-family: 'TradeGothic-BoldCondTwenty';
  font-size:2rem;
  text-align:left;
  margin-left:auto;
  margin-right: auto;
  max-width:73rem;
  
}

.IntroTextClass{
  font-family: 'tradegothic_lt_condeighteenRg';
  color:rgb(41, 35, 35);
  line-height: 1.7rem;
  font-size:1.4rem;
  text-align:left;
  margin-left: auto;
  margin-right: auto;
  max-width:73rem;
}

.LineBreak{
  line-height: 1.8rem;
}


.LeftTextClass{

  font-family: 'tradegothic_lt_condeighteenRg';
  color:rgb(41, 35, 35);
  line-height: 1.7rem;
  font-size:1.4rem;
  text-align: left;  

}

.LeftImageClass{
  
  float:right;            
  margin-left: 50px;
  width: 23rem;
}

.RightImageClass{
  
  float:left;            
  margin-right: 50px;
  width: 15rem;
}
.columns-heading{
  font-family: 'TradeGothic-BoldCondTwenty';
  color:rgb(41, 35, 35);
  line-height: 1.8rem;
  font-size:2rem;

}
.columns-section{
  font-family: 'tradegothic_lt_condeighteenRg';
  color:rgb(41, 35, 35);
  line-height: 1.8rem;
  font-size:1.4rem;

}